<app-navbar></app-navbar>
<div class="p-4">
    <div class="container">
        <h1>Users</h1>

        <div *ngIf="roleError" class="alert alert-danger">
            {{ roleError }}
        </div>
        <div *ngIf="usernameError" class="alert alert-danger">
            {{ usernameError }}
        </div>

        <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
            <div class="form-container">
                <div class="input-container">
                    <input type="text" formControlName="username" placeholder=" Username"
                        (input)="usernameError = null">
                    <div class="error-message"
                        *ngIf="addUserForm?.get('username')?.errors?.['required'] && addUserForm.get('username')?.touched">
                        Username is required.
                    </div>
                </div>

                <div class="input-container">
                    <input type="text" formControlName="password" placeholder="Password "
                        (input)="passwordError = null">
                    <div class="error-message"
                        *ngIf="addUserForm?.get('password')?.errors?.['required'] && addUserForm.get('password')?.touched">
                        Password is required.
                    </div>
                </div>

                <div class="input-container">
                    <input type="text" formControlName="roleName" placeholder=" Role name" (input)="roleError = null">
                    <div class="error-message"
                        *ngIf="addUserForm.get('roleName')?.errors?.['required'] && addUserForm.get('roleName')?.touched">
                        Role name is required.
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="!addUserForm.valid"> Add user </button>
            <!-- your.component.html -->

            <div *ngFor="let notification of notifications">
                {{ notification }}
            </div>

        </form>



        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 15%">Id</th>
                    <th style="width: 15%">Username</th>
                    <th style="width: 15%">Password</th>
                    <th style="width: 15%">Role name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.roleName}}</td>
                    <td style="white-space: nowrap">
                        <button (click)="deleteUser(user)">Delete</button>
                        <button (click)="selectForUpdate(user)">Update</button>
                        <button (click)="selectForMessaging(user)">Message</button>

                    </td>
                </tr>
                <tr *ngIf="!users">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <form [formGroup]="updateUserForm" *ngIf="selectedUser" (ngSubmit)="updateUser()">
            <h3>Update User</h3>
            <div class="form-container">
                <div class="input-container">
                    <input type="text" formControlName="username" placeholder="Username" (input)="usernameError = null">
                    <div class="error-message"
                        *ngIf="updateUserForm?.get('username')?.errors?.['required'] && updateUserForm.get('username')?.touched">
                        Username is required.
                    </div>
                </div>

                <div class="input-container">
                    <input type="text" formControlName="password" placeholder="Password" (input)="passwordError = null">
                    <div class="error-message"
                        *ngIf="updateUserForm?.get('password')?.errors?.['required'] && updateUserForm.get('password')?.touched">
                        Password is required.
                    </div>
                </div>

                <div class="input-container">
                    <input type="text" formControlName="roleName" placeholder="Role name" (input)="roleError = null">
                    <div class="error-message"
                        *ngIf="updateUserForm.get('roleName')?.errors?.['required'] && updateUserForm.get('roleName')?.touched">
                        Role name is required.
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="!updateUserForm.valid">Save</button>
            <button type="button" (click)="selectedUser = null">Cancel</button>
        </form>
        
    </div>
    <div *ngIf="selectedUser">
        <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
          <!-- Your Update User Form Fields -->
          <button type="submit" [disabled]="!updateUserForm.valid">Save</button>
          <button type="button" (click)="cancelUpdate()">Cancel</button>
        </form>
      </div>
  

</div>