<!-- navbar.component.html -->

<nav class="navbar navbar-expand custom-navbar w-100" *ngIf="isUserLoggedIn">
    <div class="navbar-nav w-100">
        <ng-container *ngIf="isAdmin">
            <a class="nav-item nav-link custom-link" routerLink="/users">User</a>
            <a class="nav-item nav-link custom-link" routerLink="/device/getAllDevices">Device</a>
            <a class="nav-item nav-link custom-link" routerLink="/admin-chat">Admin Chat</a> <!-- Link to the admin chat -->
        </ng-container>

        <ng-container *ngIf="isUser">
            <a class="nav-item nav-link custom-link" routerLink="/device/getUserDevices">Device</a>
            <a class="nav-item nav-link custom-link" routerLink="/user-chat">User Chat</a> <!-- Link to the user chat -->
        </ng-container>

        <a class="nav-item nav-link custom-link" routerLink="" (click)="logout()">Logout</a>
        <a class="nav-item nav-link custom-link" routerLink="/sensor-data">Sensor Data</a>
            
    </div>
</nav>
