<nav class="navbar navbar-expand custom-navbar w-100" *ngIf="isUserLoggedIn">
  <div class="navbar-nav w-100">

    <!-- ANIMALS: visible to both USER and ADMIN -->
    <ng-container *ngIf="isAdmin || isUser">
      <a class="nav-item nav-link custom-link" routerLink="/animals">
        Animals
      </a>
    </ng-container>

    <!-- ADOPTIONS: visible to both USER and ADMIN -->
    <ng-container *ngIf="isAdmin || isUser">
      <a class="nav-item nav-link custom-link" routerLink="/adoptions">
        Adoptions
      </a>
    </ng-container>

    <!-- ADMIN ONLY -->
    <ng-container *ngIf="isAdmin">
      <a class="nav-item nav-link custom-link" routerLink="/users">
        User
      </a>
    </ng-container>

    <!-- LOGOUT -->
    <a class="nav-item nav-link custom-link" routerLink="" (click)="logout()">
      Logout
    </a>

  </div>
</nav>
