<app-navbar></app-navbar>
<div class="p-4">
    <div class="container">
        <h1>Devices</h1>

        <form [formGroup]="addDeviceForm" (ngSubmit)="addDevice()">
            <div class="form-container">
                <div class="input-container">
                    <input type="text" formControlName="address" placeholder="Address">
                    <div class="error-message" *ngIf="addDeviceForm.get('address')?.errors?.['required'] && addDeviceForm.get('address')?.touched">
                        Address is required.
                    </div>
                </div>
                <div class="input-container">
                    <input type="text" formControlName="description" placeholder="Description">
                    <div class="error-message" *ngIf="addDeviceForm.get('description')?.errors?.['required'] && addDeviceForm.get('description')?.touched">
                        Description is required.
                    </div>
                </div>
                <div class="input-container">
                    <input type="text" formControlName="maxHourlyConsumption" placeholder="Max Hourly Consumption">
                    <div class="error-message" *ngIf="addDeviceForm.get('maxHourlyConsumption')?.errors?.['required'] && addDeviceForm.get('maxHourlyConsumption')?.touched">
                        Max Hourly Consumption is required.
                    </div>                    
                </div>
                <div class="input-container">
                    <input type="text" formControlName="userId" placeholder="User ID">
                </div>
            </div>
            <button type="submit" [disabled]="!addDeviceForm.valid">Add Device</button>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Address</th>
                    <th>Description</th>
                    <th>Max Hourly Consumption</th>
                    <th>User ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let device of devices">
                    <td>{{device.id}}</td>
                    <td>{{device.address}}</td>
                    <td>{{device.description}}</td>
                    <td>{{device.maxHourlyConsumption}}</td>
                    <td>{{device.userId}}</td>
                    <td style="white-space: nowrap">
                        <button (click)="deleteDevice(device)">Delete</button>
                        <button (click)="selectForUpdate(device)">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <form [formGroup]="updateDeviceForm" *ngIf="selectedDevice" (ngSubmit)="updateDevice()">
            <h3>Update Device</h3>
            <div class="form-container">
                <div class="input-container">
                    <input type="text" formControlName="address" placeholder="Address">
                    <div class="error-message" *ngIf="updateDeviceForm.get('address')?.errors?.['required'] && updateDeviceForm.get('address')?.touched">
                        Address is required.
                    </div>
                </div>
                <div class="input-container">
                    <input type="text" formControlName="description" placeholder="Description">
                    <div class="error-message" *ngIf="updateDeviceForm.get('description')?.errors?.['required'] && updateDeviceForm.get('description')?.touched">
                        Description is required.
                    </div>
                </div>
                <div class="input-container">
                    <input type="text" formControlName="maxHourlyConsumption" placeholder="Max Hourly Consumption">
                    <div class="error-message" *ngIf="updateDeviceForm.get('maxHourlyConsumption')?.errors?.['required'] && updateDeviceForm.get('maxHourlyConsumption')?.touched">
                        Max Hourly Consumption is required.
                    </div>                    
                </div>
                <div class="input-container">
                    <input type="text" formControlName="userId" placeholder="User ID">
                </div>
            </div>
            <button type="submit" [disabled]="!updateDeviceForm.valid">Save</button>
            <button type="button" (click)="selectedDevice = null">Cancel</button>
        </form>
    </div>
</div>
