<div>
  <h2>Sensor Data</h2>

  <mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <button (click)="fetchData()">Fetch Data</button>

  <!-- In monitoring.component.html -->
  <div *ngIf="notifications.length > 0">
    <h3>Notifications:</h3>
    <ul>
      <li *ngFor="let notification of notifications">{{ notification }}</li>
    </ul>
  </div>


  <!-- Canvas element for the chart -->
  <div style="width: 100%;">
    <canvas id="myChart"></canvas>
  </div>
</div>